:root {
  --nav-height: 60px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.App {
  padding: 16px 32px;
}

.control {
  margin: 0 auto;
  max-width: 700px;
  margin-bottom: 20px;
}

/* Tool 下用 */
.row {
  display: flex;
  align-items: center;
}

.row>* {
  margin-right: 8px !important;
}

/* Canvas 下控制图标用 */
.ui-button-group {
  text-align: center;
}

.ui-button-group>button {
  margin-right: 8px !important;
}

/* CodeMirror 用 */
[class^=cm-theme],
.cm-editor {
  height: 100% !important;
}

.tabs .content {
  height: calc(100vh - 124px);
}

/* CodeMirror 结束 */