:root {
	--nav-height: 60px;
}
html {
	margin: 0;
	padding: 0;
}
.nav {
	display: flex;
	align-items: center;
	height: var(--nav-height);
}
.nav-right {
	position: absolute;
	right: 16px;
}
.nav-left {
	position: absolute;
	left: 32px;
}
.nav-right button {
	margin-right: 16px;
}
.react-codemirror2 {
	flex-grow: 1;
}
.CodeMirror {
	height: 100% !important;
}
.control {
	margin: 0 auto;
	max-width: 700px;
}
.control label {
	margin-right: 10px;
}
.control > div{
  align-items: baseline !important;
}
.control > div > * {
  margin-left: 15px;
}